PREFIX=!
DISCORDBOTTOKEN=
PERMISSIONS=
APPID=
YOURDISCORDID=ID of the owner
GUILDID=ID to the server the bot is in
CHANNELID=ID to the channel where the bot sends info
ROLEID=ID to roles that can use the bot
YOURSITE=https://yoursite.here
QSTAT=/path/to/qstat
TZ=Europe/Stockholm
REPO_USER=
REPO_NAME=
BRANCH=
DIRECTORY=
DLDIRECTORY=/home/bot/AQ2-pickup/thumbnails
